<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: transparent">
    <h1 style="text-align: center; margin-top: 10%; font-size: 400%; color: white; border: 5px solid white; border-radius: 10px; font-family: Arial, sans-serif;">BIENVENIDO A MANGLAR</h1>
    <div style="text-align: center; margin-top: 20px;">
      <img src="/img/Usucre.png" alt="Imagen" style="max-width: 35%;">
    </div>
  </div>
</div>
<!-- ./wrapper -->







